.Header {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
    align-items: center;
    padding: 20px;

    &--logo {
        width: 50px;
    }
    &--title {
        font-size: 16px;
        padding-left: 20px;
    }
}